@font-face {
  font-family: VitruvianMan;
  src: url("font/VitruvianMan-eW73.ttf") format("truetype");
}

body {
  font-family: VitruvianMan, sans-serif;
  background-color: black;
}

.h1, h1 {
  font-size: 5rem;
}

#head {
  background-image: url("img/BGheader.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#fade {
  background-image: url("img/fade.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

#navbar {
  height: 15rem;
}

#navbar a:hover {
  background-image: url("img/hovermenu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#button {
  text-align: center;
  background-image: url("img/button.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 2.5em;
}

#graff {
  background-image: url("img/grafiti.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50vh;
}

#about {
  background-image: url("img/BGabout.png");
  background-repeat: no-repeat;
  background-size: auto;
}

#articlenope {
  background-image: url("img/bgarticle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width:1590px) {
  #rowimg {
    position: absolute;
    z-index: 1;
    bottom: -15%;
  }

  #artrowimg {
    position: relative;
  }
}

@media (max-width:1590px) {
  #rowimg {
    background-image: url("img/BGheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#rowimg img:hover {
  border: 5px solid #F33A12;
}

footer {
  background-image: url("img/BGfoot.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#buttonfoot {
  color: #F33A12;
  top: 15rem;
}

#joincrewdiv h1 {
  color: #F33A12
}

#buttonhead {
  color: black;
}
