body {
  background-color: black;
}

#navbar {
  height: 10rem;
}

#navbar a:hover {
  background-image: url("img/hovermenu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#button {
  text-align: center;
  background-image: url("img/button.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 2.5em;
}

#head {
  background-image: url("img/BGheader.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#fade {
  height: 30%;
  width: 100%;
}

#graff {
  width: 100%;
}

#about {
  background-image: url("img/BGabout.png");
  background-repeat: no-repeat;
}
#articlenope{
  background-image: url("img/bgarticle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:75vh;
}
footer{
  background-image: url("img/BGfoot.png");
  height:100vh;
}

#joincrew {
  text-align: center;
}

#buttonfoot {
  color: orange;
}

#buttonhead {
  color: black;
}

#abouttxt {
  margin-top: auto;
  margin-bottom: auto;
}
